RewriteEngine On    # Turn on the rewriting engine
RewriteRule ^get$ get_by_type.php [NC,L]
RewriteRule ^all$ get_all_by_type.php [NC,L]
RewriteRule ^create$ create.php [NC,L]
RewriteRule ^delete$ delete.php [NC,L]
RewriteRule ^update$ update.php [NC,L]