RewriteEngine On    # Turn on the rewriting engine
RewriteRule ^all$ get_all.php [NC,L]
RewriteRule ^([0-9_-]*)$ get_by_id.php?id=$1 [NC,L]
RewriteRule ^brand$ get_by_brand.php [NC,L]
RewriteRule ^sale$ get_sale.php [NC,L]
RewriteRule ^new$ get_new.php [NC,L]
RewriteRule ^rate$ get_best_rate.php [NC,L]
RewriteRule ^search$ search.php [NC,L]
RewriteRule ^create$ create.php [NC,L]
RewriteRule ^create-details$ create_details.php [NC,L]
RewriteRule ^no-details$ get_product_no_detail.php [NC,L]
RewriteRule ^delete$ delete.php [NC,L]
RewriteRule ^update-basic$ update_basic.php [NC,L]
RewriteRule ^update-detail$ update_detail.php [NC,L]
RewriteRule ^update-sale$ update_sale.php [NC,L]
RewriteRule ^([0-9_-]*)/basic$ get_basic_by_id.php?id=$1 [NC,L]
RewriteRule ^([0-9_-]*)/detail$ get_detail_by_id.php?id=$1 [NC,L]